ul,ol,menu{
    list-style: none;
    padding: 0;
}

body{
    max-height: 100vh;
}


/* NAV-BAR */
.nav-bar{
    background-color: #f8f9fa;
}

.search,.search-bar{
    width: 97%;
    border: none;
    outline: none;
    background-color: #e4e4e4;
}

.search-bar{
    border-radius: 5px;
}



.mobile-logo{
    width: 45px;
}











/* debug */
.d_bg-blue{
    background-color: blue;
}

.d_bg-red{
    background-color: red;
}

.debug .container-fluid > *{
    border: 3px solid black;
}

.debug .row > *{
    border: 2px solid blue;
}