ul,ol,menu{
    list-style: none;
    padding: 0;
    
}

#app{
    height: 100vh;
}

.ancora{
    text-decoration: none;
    color: currentColor;
}


/* NAV-BAR */
.nav-bar{
    background-color: #f8f9fa;
}

.search,.search-bar{
    width: 90%;
    border: none;
    outline: none;
    background-color: #e4e4e4;
}

.search-bar{
    border-radius: 5px;
}



.mobile-logo{
    width: 45px;
}

/* NAV-BAR MAIN */

aside{
    color: white;
    background-color:#002436 ;
    background-image: url('../img/sidebar-bg.png');
}

/* main content */
.my_badge-code{
    width: 10px;
    padding: 5px;
    aspect-ratio: 1/1;
    background-color: #ff6257;
    border-radius: 50%;
    font-size: 18px;
    color: white;
}
  


/* utility */
.basis{
    flex-basis: 100%;
}

.my_font-orange{
    color:#ff6257 ;
}


/* background color */
.my_bg-blue{
    background-color: #0073e1;
}







/* debug */
.d_bg-blue{
    background-color: blue;
}

.d_bg-red{
    background-color: red;
}

.debug .container-fluid > *{
    border: 3px solid black;
}

.debug .row > *{
    border: 2px solid blue;
}